<!DOCTYPE html>
<html>
<head>
    <title>Game</title>
</head>
<body>
    <h1>Character List</h1>
    {% if characters %}
        {% for character in characters %}
            <div style="margin-bottom: 20px;">
                <img src="{{ character.image_url }}" alt="{{ character.name }}" style="width:100px; height:100px;"><br>
                <p>{{ character.name }} - Current Action: {{ character.current_action }} - Gauge: {{ character.gauge }}</p>
                {% if character.gauge >= 100 %}
                    <form action="{% url 'finalize_action' character.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">행동하기</button>
                    </form>
                {% endif %}
                <form action="{% url 'update_action' character.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" name="action_type" value="eating">밥 먹기</button>
                    <button type="submit" name="action_type" value="cleaning">청소하기</button>
                    <button type="submit" name="action_type" value="walking">산책하기</button>
                    <button type="submit" name="action_type" value="washing">씻기</button>
                </form>
            </div>
        {% endfor %}
    {% else %}
        <a href="{% url 'create_character' %}">Create New Character</a>
    {% endif %}
</body>
</html>


